<div n:class="'mt-4', 'flex', 'block'">n:class sorting</div>
<span n:class="$isActive ? 'active', 'mt-4', 'flex'">conditional</span>
<p n:class="'mt-4', 'flex', $var ? 'hidden', 'block', 'text-sm'">with barrier</p>
