<div n:class="'block', 'flex', 'mt-4'">n:class sorting</div>
<span n:class="$isActive ? 'active', 'flex', 'mt-4'">conditional</span>
<p n:class="'flex', 'mt-4', $var ? 'hidden', 'block', 'text-sm'">with barrier</p>
