<div class="mt-4 flex block text-sm">basic sorting</div>
<p class="mb-2 hidden text-lg font-bold">paragraph</p>
<a href="{link Home:}" class="mt-4 inline flex">link</a>
<span class="  mt-4   flex  ">extra whitespace</span>
