<div class="block flex mt-4 text-sm">basic sorting</div>
<p class="font-bold hidden mb-2 text-lg">paragraph</p>
<a href="{link Home:}" class="flex inline mt-4">link</a>
<span class="flex mt-4">extra whitespace</span>
